<form [formGroup]="locationForm">
    <div class="places">
        <t-select-default 
            [label]="'Рабочая область'"
            [options]="regions()"
            formControlName="region"
        />

        <t-select-default 
            testDistrictByRegion
            [label]="'Город работы (район)'" 
            [options]="discricts()"
            formControlName="district"
        />
    </div>
    
    <div class="address">
        <test-input-default
            [label]="'Адрес организации'"
            [placeholder]="'Улица и номер дома'"
            formControlName="address"
        />
        
        <a 
            nz-button
            nzType="link"
            nzSize="large"
            class="link"
            (click)="openMap()"
        >
            Указать на карте
    
            <span nz-icon nzType="right"></span>
        </a>
    </div>
</form>