<div class="places">
    <t-select-default
        [placeholder]="'Выберите варианты'"
        [label]="'Рабочая область'"
    >
        @for (region of regions(); track region.id) {
            <nz-option [nzValue]="region.id">{{region.name}}</nz-option>
        }
    </t-select-default>

    <t-select-default
        [placeholder]="'Выберите варианты'"
        [label]="'Город работы (район)'"
    >
        @for (district of discricts(); track district.id) {
            <nz-option [nzValue]="district.id">{{district.name}}</nz-option>
        }
    </t-select-default>
</div>

<div class="address">
    <test-input-default
        [label]="'Адрес организации'"
        [placeholder]="'Улица и номер дома'"
    />
    
    <a 
        nz-button
        nzType="link"
        nzSize="large"
        class="link"
        (click)="openMap()"
    >
        Указать на карте

        <span nz-icon nzType="right"></span>
    </a>
</div>