<form [formGroup]="paymentForm">
    <nz-segmented 
        [nzDisabled]="typeControl.disabled" 
        formControlName="type" 
        class="segment"
    >
        <label nz-segmented-item nzValue="MONTH">
            Ежемесячная
        </label>
    
        <label nz-segmented-item nzValue="HOUR">
            Почасовая
        </label>
    </nz-segmented>
    
    <nz-radio-group formControlName="duration" class="group">
        <div class="range">
            <label nz-radio [nzValue]="'BOTH'">Диапазон (от - до)</label>
    
            <div class="controls">
                <div class="money">
                    <test-input-default
                        mask="separator"
                        placeholder="от"
                        formControlName="from"
                    />
    
                    <test-input-default
                        mask="separator"
                        placeholder="до"
                        formControlName="to"
                    />
                </div>
    
                <t-select-default 
                    [options]="paymentList" 
                    formControlName="currency"
                />
            </div>
        </div>
        <label nz-radio [nzValue]="'ONE'">Одно значение</label>
        <label nz-radio [nzValue]="'NONE'">Не указано</label>
    </nz-radio-group>
</form>