<main class="main">
    <div class="back">
        <a 
            nz-button
            nzType="link"
            nzSize="large"
            routerLink="../"
        >
            <span nz-icon nzType="arrow-left"></span>
            Назад
        </a>
    </div>

    <div class="content">
        <router-outlet/>
    </div>

    <div class="actions">
        <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="round"
            nzDanger
            [disabled]="disableReset()"
            (click)="reset()"
        >
            Очистить
        </button>
    
        <button
            nz-button
            nzType="primary"
            nzSize="large"
            nzShape="round"
            [disabled]="disableSubmit()"
            (click)="submit()"
        >
            Сохранить
        </button>
    </div>
</main>

<div class="view">
    <img 
        ngSrc="images/layer.png"
        width="350"
        height="660"
        loading="eager"
        alt="layer"
    >
</div>