<input
    nz-input
    nzSize="large"
    nz-dropdown
    [(nzVisible)]="isDropdown"
    [nzDropdownMenu]="menu"
    [nzTrigger]="null"
    [formControl]="searchControl"
    [placeholder]="placeholder()"
    [nzDisabled]="disabled()"
    (focus)="open()"
    (blur)="isDropdown.set(false)"
    class="select-list"
    [ngClass]="{
        light: isBorderLight(),
        small: size() === 'small'
    }"
/>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <cdk-virtual-scroll-viewport
            [itemSize]="47"
            [maxBufferPx]="1000"
            [minBufferPx]="450"
            (scrolledIndexChange)="onScroll($event)"
        >
            <ng-container *cdkVirtualFor="let option of options()">
                <li 
                    nz-menu-item 
                    [nzSelected]="option.value === value()" 
                    (click)="onModelChange(option)"
                >
                    {{ option.label }}
                </li>
            </ng-container>
        </cdk-virtual-scroll-viewport>
    </ul>
</nz-dropdown-menu>