<nz-form-item>
    @if (label(); as label) {
        <nz-form-label 
            [nzFor]="label"
            [nzNoColon]="noColon()"
        >
            {{label}}
        </nz-form-label>
    }

    <nz-form-control>
        <input 
            nz-input 
            [type]="'text'"
            [placeholder]="placeholder()"
            [nzSize]="size()"
            [id]="label()" 
            nz-dropdown
            [(nzVisible)]="isDropdown"
            [nzDropdownMenu]="menu"
            [nzTrigger]="null"
            [nzDisabled]="disabled()"
            [nzOverlayClassName]="'custom-dropdown'"
            [formControl]="searchControl"
            (focus)="open()"
        />
    </nz-form-control>
</nz-form-item>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <cdk-virtual-scroll-viewport
        [itemSize]="45"
        [maxBufferPx]="1000"
        [minBufferPx]="440"
        (scrolledIndexChange)="onScroll($event)"
        class="viewport"
    >
        <ng-container *cdkVirtualFor="let option of options()">
            <div 
                [ngClass]="{
                    active: (value() ?? []).includes(option.value)
                }" 
                (click)="onModelChange(option)"
                class="item"
            >
                {{option.label}}
            </div>
        </ng-container>

        @if (isLoading()) {
            <t-loading class="loading"/>
        }
    </cdk-virtual-scroll-viewport>
</nz-dropdown-menu>