<div class="controls">
    <t-select-default [label]="'Название языка'">
        @for (language of languages(); track language.id) {
            <nz-option [nzValue]="language.id">{{language.name}}</nz-option>
        }
    </t-select-default>

    <t-select-default [label]="'Уровень владения'">
        @for (level of levels(); track level.id) {
            <nz-option [nzValue]="level.id">{{level.name}}</nz-option>
        }
    </t-select-default>
</div>

<div class="chips">
    @for (chip of [1,2,3,4,5]; track $index) {
        <test-chip [name]="'Ташкент'"/>
    }
</div>