<form [formGroup]="languageForm">
    <div class="controls">
        <t-select-default 
            [label]="'Название языка'"
            [options]="languages()"
            formControlName="type"
        />
    
        <t-select-default 
            [label]="'Уровень владения'"
            [testLevelByLang]="baseForm"
            [languages]="languages()"
            formControlName="level"
            (push)="onPush($event)"
        />
    </div>
    
    <div class="chips">
        @for (chip of options(); track chip.value;) {
            <test-chip 
                [name]="chip.label" 
                (click)="onRemove(chip.value, $index)"
            />
        }
    </div>
</form>