<nz-form-item>
    @if (label(); as label) {
        <nz-form-label 
            [nzFor]="label"
            [nzNoColon]="noColon()"
            [nzRequired]="isRequired()"
        >
            {{label}}
        </nz-form-label>
    }

    <nz-form-control
        [nzValidateStatus]="status()"
        [nzSuccessTip]="message()"
        [nzErrorTip]="message()"
        [nzWarningTip]="message()"
        [nzValidatingTip]="message()"
    >
        <textarea 
            nz-input 
            [placeholder]="placeholder()"
            [nzSize]="size()"
            [id]="label()" 
            [disabled]="disabled()"
            [(ngModel)]="value"
            (ngModelChange)="modelChange($event)">
        </textarea>
    </nz-form-control>
</nz-form-item>
