@import 'colors';

html.default {
    .ant-input {
        color: @t-black-100;
    }
}

.ant-input {
    border-radius: 10px !important;

    &-lg {
        font-size: 19px;
        font-weight: 600;
    }
}