<nz-form-item>
    @if (label(); as label) {
        <nz-form-label 
            [nzFor]="label"
            [nzNoColon]="noColon()"
        >
            {{label}}
        </nz-form-label>
    }

    <nz-form-control>
        <input 
            nz-input 
            [type]="'text'"
            [placeholder]="placeholder()"
            [nzSize]="size()"
            [disabled]="disabled()"
            [id]="label()" 
            [(ngModel)]="value"
            [mask]="mask()"
            [thousandSeparator]="separator()"
            (ngModelChange)="modelChange($event)"
        />
    </nz-form-control>
</nz-form-item>
