<h1>Новая вакансия</h1>

<test-box-content 
    [name]="'Название вакансии'"
>
    <test-input-default/>
</test-box-content>

<test-box-content 
    [name]="'Должность сотрудника'"
>
    <test-vc-position/>
</test-box-content>

<test-box-content 
    [name]="'Оплата'"
>
    <test-vc-payment/>
</test-box-content>

<test-box-content 
    [name]="'Требования'"
>
    <test-vc-requirements 
        [experienceList]="requirements.experiences"
        [workTimeList]="requirements.workTimes"
        [workTypeList]="requirements.workTypes"
    />
</test-box-content>

<test-box-content 
    [name]="'Описание'"
>
    <test-textarea/>
</test-box-content>

<test-box-content 
    [name]="'Требуемые навыки'"
>
    <test-vc-skills/>
</test-box-content>

<test-box-content 
    [name]="'Языки'"
>
    <test-vc-language/>
</test-box-content>

<test-box-content 
    [name]="'Местоположение'"
>
    <test-vc-location/>
</test-box-content>