<h1>Новая вакансия</h1>

<form 
    [formGroup]="vacancyForm"
>
    <test-box-content 
        [required]="true"
        [name]="'Название вакансии'"
    >
        <test-input-default formControlName="title"/>
    </test-box-content>

    <test-box-content 
        [required]="true"
        [name]="'Должность сотрудника'"
    >
        <test-vc-position 
            [options]="jobList()"
            [selectedOptions]="jobSelectedList()"
            [isLoading]="isJobLoading()"
            (added)="onSelectJob($event)"
            (removed)="onRemoveJob($event)"
            (loadMore)="jobSearch$.next($event)"
            (searched)="jobSearch$.next($event)"
        />
    </test-box-content>

    <test-box-content 
        [name]="'Оплата'"
    >
        <test-vc-payment tPaymentDuration/>
    </test-box-content>

    <test-box-content 
        [name]="'Требования'"
        [required]="true"
    >

    <test-vc-requirements 
        [experienceList]="routeData.requirements.experiences"
        [workTimeList]="routeData.requirements.workTimes"
        [workTypeList]="routeData.requirements.workTypes"
    />
    </test-box-content>

    <test-box-content 
        [required]="true"
        [name]="'Описание'"
    >
        <test-textarea formControlName="description"/>
    </test-box-content>

    <test-box-content 
        [required]="true"
        [name]="'Требуемые навыки'"
    >
        <test-vc-skills 
            [options]="skillsList()"
            [selectedOptions]="skillSelectedList()"
            [isLoading]="isSkillsLoading()"
            (added)="onSelectSkill($event)"
            (removed)="onRemoveSkill($event)"
            (loadMore)="skillsSearch$.next($event)"
            (searched)="skillsSearch$.next($event)"
        />
    </test-box-content>

    <test-box-content 
        [required]="true"
        [name]="'Языки'"
    >
        <test-vc-language 
            [languages]="routeData.languages | fti"
            [selectedOptions]="langSelectedList()"
            (added)="onSelectLang($event)"
            (removed)="onRemoveLang($event)"
        />
    </test-box-content>

    <test-box-content 
        [name]="'Местоположение'"
    >
        <test-vc-location 
            [regions]="routeData.regions | fti"
        />
    </test-box-content>
</form>