<div class="modal-confirm">
    <p class="title">{{config()?.title}}</p>
    <p class="description">{{config()?.description}}</p>

    <div class="footer">
        <button
            nz-button
            nzSize="default"
            nzShape="round"
            [nzDanger]="config()?.cancel?.danger"
            (click)="cancel()"
        >
            {{config()?.cancel?.title}}
        </button>

        <button
            nz-button
            nzType="primary"
            nzShape="round"
            nzSize="default"
            [nzDanger]="config()?.submit?.danger"
            (click)="submit()"
        >
            {{config()?.submit?.title}}
        </button>
    </div>
</div>